.b-box{
    width:750px;
    height:360px;
}
.l-child{
    width:162px;
    height:339px;
    float: left;
    margin: 5px;
    margin-top:20px;
}
.t-child{
    width:565px;
    height:40px;
    /* background: #C1504C; */

    float: right;
    margin: 6px;
}
.s-child{
    width:564px;
    height:286px;
    float: right;
    margin: 5px;
}
.butto{
    width: 130px;
    height:37px;
    /* background: #4E81BD; */
    border-radius: 10px;
    text-align: center;
    margin:10px;
    font-family: 华文隶书;
    font-size:20px;
    margin-top:15px;
}
.pic{
    width: 360px;
  
}
.buttons{
    width: 100px;
    height:32px;
    margin-top: 2px;
    margin-left:10px;
    font-size:25px;
  
    float: left;
    text-align: center;
    font-family: 华文行楷;
 
}